<div class="flex flex-wrap w-full m-5 justify-between">
<ng-container *ngFor="let produit of products" >
<div class="w-full max-w-xs overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800">
    <img class="object-cover w-full h-56" src="{{produit.images[0]}}" alt="avatar">
    <div class="py-5 text-center">
        <a href="#" class="block text-xl font-bold text-gray-800 dark:text-white" tabindex="0" role="link">John Doe</a>
        <span class="text-sm text-gray-700 dark:text-gray-200"> {{produit.title}}</span>
    </div>
</div>
</ng-container>
</div>